# Copy values from ../.env.example or place server-specific values here.

HOSTEL_CLOUDINARY_CLOUD_NAME=
HOSTEL_CLOUDINARY_API_KEY=
HOSTEL_CLOUDINARY_API_SECRET=
HOSTEL_CLOUDINARY_ROOT=sarva-hostel

# Google Identity Services Web Client ID
GOOGLE_CLIENT_ID=
